<div class="footer-static-container">
        <div class="container">
            <div class="footer-static row pt30 pb30">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-static-title">
                        <h3>ABOUT PERSEUS</h3>
                    </div>
                    <div class="footer-static-content social-links">
                        <a href="#" class="logo"><img alt="" src="../assets3/img/logo.png"></a>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas...</p>
                        <div class="web-links">
                            <ul>
                                <li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="ldin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" class="face"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-static-title">
                        <h3>OUR SERVICES</h3>
                    </div>
                    <div class="footer-static-content footer-service">
                        <ul>
                            <li class="first"><a href="#"><i class="fa fa-angle-double-right"></i>
                                    Order History</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>
                                    Returns</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>
                                    Specials</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>
                                    Mobiles</a></li>
                            <li><a href="my-account.html"><i class="fa fa-angle-double-right"></i>
                                    My Account</a></li>
                            <li class="last"><a href="contact.html"><i class="fa fa-angle-double-right"></i>
                                    Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mt-sm-30">
                    <div class="footer-static-title">
                        <h3>MY ACCOUNT</h3>
                    </div>
                    <div class="footer-static-content footer-acc">
                        <ul>
                            <li class="first"><a href="about-us.html">About us</a><span>1</span></li>
                            <li><a href="">Custom Service</a><span>2</span></li>
                            <li><a href="">Privacy Policy</a><span>3</span></li>
                            <li class="first"><a href="">Sitemap</a><span>4</span></li>
                            <li><a href="">Terms &amp; Condition</a><span>5</span></li>
                            <li class="last"><a href="">Advanced Search</a><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mt-sm-30">
                    <div class="footer-static-title">
                        <h3>CONTACT US</h3>
                    </div>
                    <div class="footer-static-content footer-add">
                        <div class="address">1234 Heaven Stress, Beverly Hill OldYork- United State of Lorem</div>
                        <div class="phone">(800) 0123 4567 890
                            <br> (800) 0987 654 321</div>

                        <div class="mail"> admin@bootexparts.com
                            <br> Support@bootexparts.com</div>
                    </div>
                </div>
            </div>
            <div class="footer-static-2">
                <div class="link-category">
                    <nav>
                        <ul>
                            <li><a title="Clothing" href="#">Clothing</a></li>
                            <li><a title="equipments" href="#">equipments</a></li>
                            <li><a title="Jewellery" href="#">Jewellery</a></li>
                            <li><a title="Watches" href="#">Watches</a></li>
                            <li><a title="books" href="#">books</a></li>
                            <li><a title="Sports" href="#">Sports</a></li>
                            <li><a title="gifts" href="#">gifts</a></li>
                            <li><a title="Health" href="#">Health</a></li>
                            <li><a title="Medical" href="#">Medical</a></li>
                            <li><a title="Electronics" href="#">Electronics</a></li>
                        </ul>
                    </nav>

                </div>

            </div>
        </div>
    </div>

    <footer class="ma-footer-container">
        <div class="container">
            <div class="row basak-footer">
                <div class="col-lg-7 col-md-12 col-12">
                    <nav>
                        <ul class="links">
                            <li class="first"><a title="Site Map" href="#">Site Map</a></li>
                            <li><a title="Search Terms" href="#">Search Terms</a></li>
                            <li><a title="Advanced Search" href="3">Advanced Search</a></li>
                            <li><a title="Orders and Returns" href="3">Orders and Returns</a></li>
                            <li class=" last"><a title="Contact Us" href="3">Contact Us</a></li>
                        </ul>
                    </nav>
                    <address>Copyright &copy; 2018-All rights reserved. <a title="Themes Club" href="https://hastech.company">HasTech</a></address>
                </div>
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="payment">
                        <ul>
                            <li>
                                <a href="#"><img alt="" src="../assets3/img/switch.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="../assets3/img/american_express.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="../assets3/img/paypal.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="../assets3/img/discover.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="../assets3/img/visa.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="../assets3/img/maestro.jpg"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- JS -->

    <!-- jquery-1.11.3.min js
============================================ -->
    <script src="../assets3/js/vendor/jquery-1.11.3.min.js"></script>

    <!-- popper js
============================================ -->
    <script src="../assets3/js/popper.min.js"></script>

    <!-- bootstrap js
============================================ -->
    <script src="../assets3/js/bootstrap.min.js"></script>

    <!-- Nivo slider js
============================================ -->
    <script src="../assets3/custom-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
    <script src="../assets3/custom-slider/home.js" type="text/javascript"></script>

    <!-- mixit up js
============================================ -->
    <script src="../assets3/js/jquery.mixitup.min.js"></script>

    <!-- Fancybox up js
============================================ -->
    <script src="../assets3/js/fancybox/jquery.fancybox.pack.js"></script>

    <!-- Price Slider js
============================================ -->
    <script src="../assets3/js/jquery-price-slider.js"></script>

    <!-- owl.carousel.min js 
============================================ -->
    <script src="../assets3/js/owl.carousel.min.js"></script>

    <!-- counterUp
============================================ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/fontawesome.min.js"></script>
    <script src="../assets3/js/jquery.counterup.min.js"></script>
    <script src="../../public/assets3/fonts/fontawesome-webfont.ttf"></script>
    <script src="../../public/assets3/fonts/fontawesome-webfont.ttf"></script>

    <!-- Scroll up js
============================================ -->
    <script src="../assets3/js/jquery.scrollUp.js"></script>

    <!-- elevator zoom js
============================================ -->
    <script src="../assets3/js/jquery.elevateZoom-3.0.8.min.js"></script>

    <!-- mean Menu
============================================ -->
    <script src="../assets3/js/jquery.meanmenu.js"></script>

    <!-- wow js
============================================ -->
    <script src="../assets3/js/wow.js"></script>

    <!-- chosen.jquery.min.js
============================================ -->
    <script src="../assets3/js/chosen.jquery.min.js"></script>

    <!-- plugins js
============================================ -->
    <script src="../assets3/js/plugins.js"></script>

    <!-- main js
============================================ -->
    <script src="../assets3/js/main.js"></script>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function(){

        let name = window.localStorage.getItem('productClick');
        let username = $('#user-name').text();
        console.log(username)
        

        function loadHistory(){
            // if(!$("#list-history-product").find('.single-product').length)
            console.log(name)
            let IDs = window.localStorage.getItem('listIdProducts');

            let listIDProduct = [];
                        if(IDs && IDs.includes(',')) {
                            listIDProduct = IDs.split(',');
                        } else {
                            listIDProduct.push(IDs);
                        };
                        console.log(listIDProduct)
            if(listIDProduct && listIDProduct.length > 0 ){
            // $('div').remove("#recomendation-product");
            // $('#list-recomendation').empty()
            listIDProduct.forEach(id_product=>{
                $.ajax({
                   url:`/products/find/${id_product}`,
                   method:'POST',
                   success : function(data){
                       console.log
                       (data)
                       if(!data.error && !data.data.error){
                        data.data.data._fields.forEach((product, index) => {
                            console.log(product.properties)
                            if(index == 0){
                                $('#list-history-product').append(`
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-padd">
                                                            <div class="single-product" id = "${product.properties.id}">
                                                                <div class="product-label">
                                                                    <div class="new"></div>
                                                                </div>
                                                                <div class="product-img">
                                                                    <a href="#">
                                                                        <img class="primary-image" src="${product.properties.image}" alt="">
                                                                    </a>
                                                                </div>
                                                                <div class="product-content">
                                                                    <h2 class="product-name"><a href="#">${product.properties.name }</a></h2>
                                                                    <div class="rating">
                                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                                    </div>
                                                                    <div class="price-box">
                                                                        <span class="new-price">${product.properties.price}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="product-content2">
                                                                    <h2 class="product-name"><a href="#">${product.properties.name}</a></h2>
                                                                    <div class="rating">
                                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                                    </div>
                                                                    <div class="price-box">
                                                                        <span class="new-price">${product.properties.price}></span>
                                                                    </div>
                                                                    <div class="button-container">
                                                                        <a title="Add to Cart" href="#" class="button cart_button">
                                                                            <span>Thêm vào giỏ</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <ul class="add-to-links">
                                                                    <li>
                                                                        <div class="wishlist">
                                                                            <a title="" href="#" data-toggle="tooltip" data-original-title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="view-products">
                                                                            <a title="" href="#" data-toggle="tooltip" data-placement="top" data-original-title="view pordcuts"><i class="fa fa-arrows-alt"></i></a> </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                           `);
                        
                            }
                           

                        });
                       }
                     
                   },
                   error : function(error){
                       console.log(error);
                   }
               }) 
            })
               
			}
        }
        loadHistory()
        function loadProductClick(){
            if(name && name!='undefined' ){
            // $('div').remove("#recomendation-product");
            // $('#list-recomendation').empty()
                $.ajax({
                   url:`/products/watchs/${name}`,
                   method:'POST',
                   success : function(data){
                       console.log
                       (data)
                        data.data.records.forEach(product => {
                            console.log($(`#${product._fields[0].properties.id}`))
                            if(!$(`#${product._fields[0].properties.id}`).length){
                            $('#list-recomendation').append(`
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-padd">
                                                            <div class="single-product" id = "${product._fields[0].properties.id}">
                                                                <div class="product-label">
                                                                    <div class="new"></div>
                                                                </div>
                                                                <div class="product-img">
                                                                    <a >
                                                                        <img class="primary-image" src="${product._fields[0].properties.image}" alt="">
                                                                    </a>
                                                                </div>
                                                                <div class="product-content">
                                                                    <h2 class="product-name"><a >${product._fields[0].properties.name }</a></h2>
                                                                    <div class="rating">
                                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                                    </div>
                                                                    <div class="price-box">
                                                                        <span class="new-price">${product._fields[0].properties.price}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="product-content2">
                                                                    <h2 class="product-name"><a href="#">${product._fields[0].properties.name}</a></h2>
                                                                    <div class="rating">
                                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                                    </div>
                                                                    <div class="price-box">
                                                                        <span class="new-price">${product._fields[0].properties.price}></span>
                                                                    </div>
                                                                    <div class="button-container">
                                                                        <a title="Add to Cart" href="#" class="button cart_button">
                                                                            <span>Thêm vào giỏ</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <ul class="add-to-links">
                                                                    <li>
                                                                        <div class="wishlist">
                                                                            <a title="" href="#" data-toggle="tooltip" data-original-title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="view-products">
                                                                            <a title="" href="#" data-toggle="tooltip" data-placement="top" data-original-title="view pordcuts"><i class="fa fa-arrows-alt"></i></a> </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        
                                                    
                           `);
                        }

                        });
                   },
                   error : function(error){
                       console.log(error);
                   }
               }) 
			}
        }
        
        setTimeout(function(){ 
            
            console.log('------')
            loadProductClick(); }, 1000);

			   //
        $('body').on('click','.single-product',function(){
            let id = $(this).attr("id");
            let name = $(this).find('.product-content').find('.product-name').find('a').text()
            console.log(name);
            let oldName =     window.localStorage.getItem('productClick');
            let Ids =     window.localStorage.getItem('listIdProducts');

            console.log(oldName)
            if(Ids == null){
                window.localStorage.setItem('listIdProducts',id);

            }else{
                if(!Ids.includes(id)){
                    let newIDs  = Ids + ',' + id;
                    window.localStorage.setItem('listIdProducts',newIDs);
                }
            }


            if(oldName == null){

                window.localStorage.setItem('productClick',name);
            }else{
                if(!oldName.includes(name)){
                let newName  = oldName + ',' + name;

                

                window.localStorage.setItem('productClick',newName);
                }
            }
            console.log(id)
            if(id && id!= undefined && id!='undefined'){
                console.log('dayyyyy')
                window.location.assign(`/products/single-product?id=${id}`);
                
            }
        });
    })
</script>
</html>