<div class="main-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12 nopadding-right">
                    <aside>
                        <div class="left-category-menu">
                            <div class="left-product-cat">
                                <div class="category-heading">
                                    <h2>Danh mục</h2>
                                </div>
                                <!-- category-menu-list start -->
                                <div class="category-menu-list">
                                    <ul>
                                    
                                    <%listCategory.forEach(item => {%>
                                        <li>
                                            <a href="/customers/list-products-of?categoryID=<%=item._fields[0].properties.id%>"><img src="../assets3/img/catg-side/4.jpg" alt="" /><span><%=item._fields[0].properties.name%></span><i class="fa fa-angle-right"></i></a>
                                        </li>
                                    <%})%>
                                    
                                    </ul>
                                </div>
                                <!-- category-menu-list end -->
                            </div>
                        </div>
                    </aside>
                    <!--aside 1 end-->
                    <aside>
                        <div class="tag-area">
                            <div class="area-title">
                                <h3>Từ Khoá</h3>
                            </div>
                            <ul class="aside-padd">
                                <%listCategory.forEach(item => {%>
                                    <li>
                                        <a href="/customers/list-products-of?categoryID=<%=item._fields[0].properties.id%>"><span><%=item._fields[0].properties.name %></span><i class="fa fa-angle-right"></i></a>
                                    </li>
                                <%})%>
                            </ul>
                        </div>
                    </aside>
                    <!--aside 3 end-->
                    <aside>
                        <div class="hotsell-area">
                            <div class="area-title">
                                <h3>hot sale !</h3>
                            </div>
                            <div class="total-hotsell">
                                <div class="single-hotsell aside-padd">
                                    <div class="hotsell-img">
                                        <a href="#"><img src="../assets3/img/product/books1.jpg" alt=""></a>
                                    </div>
                                    <div class="hotsell-text">
                                        <a href="">Quisque in arcu</a>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <span class="new-price">$222.00</span>
                                        <span class="old-rpice"><del>Sale:$250.00</del></span>
                                    </div>
                                </div>
                                <!--Single hotsell-->
                                <div class="single-hotsell aside-padd">
                                    <div class="hotsell-img">
                                        <a href="#"><img src="../assets3/img/product/books2.jpg" alt=""></a>
                                    </div>
                                    <div class="hotsell-text">
                                        <a href="">Quisque in arcu</a>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <span class="new-price">$222.00</span>
                                        <span class="old-rpice"><del>Sale:$250.00</del></span>
                                    </div>
                                </div>
                                <!--Single hotsell-->
                                <div class="single-hotsell aside-padd">
                                    <div class="hotsell-img">
                                        <a href="#"><img src="../assets3/img/product/product-1.jpg" alt=""></a>
                                    </div>
                                    <div class="hotsell-text">
                                        <a href="">Quisque in arcu</a>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <span class="new-price">$222.00</span>
                                        <span class="old-rpice"><del>Sale:$250.00</del></span>
                                    </div>
                                </div>
                                <!--Single hotsell-->
                                <div class="single-hotsell aside-padd">
                                    <div class="hotsell-img">
                                        <a href="#"><img src="../assets3/img/product/product-3.jpg" alt=""></a>
                                    </div>
                                    <div class="hotsell-text">
                                        <a href="">Quisque in arcu</a>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <span class="new-price">$222.00</span>
                                        <span class="old-rpice"><del>Sale:$250.00</del></span>
                                    </div>
                                </div>
                                <!--Single hotsell-->
                                <div class="single-hotsell aside-padd">
                                    <div class="hotsell-img">
                                        <a href="#"><img src="../assets3/img/product/books3.jpg" alt=""></a>
                                    </div>
                                    <div class="hotsell-text">
                                        <a href="">Quisque in arcu</a>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <span class="new-price">$222.00</span>
                                        <span class="old-rpice"><del>Sale:$250.00</del></span>
                                    </div>
                                </div>
                                <!--Single hotsell-->
                                <div class="single-hotsell aside-padd">
                                    <div class="hotsell-img">
                                        <a href="#"><img src="../assets3/img/product/books4.jpg" alt=""></a>
                                    </div>
                                    <div class="hotsell-text">
                                        <a href="">Quisque in arcu</a>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <span class="new-price">$222.00</span>
                                        <span class="old-rpice"><del>Sale:$250.00</del></span>
                                    </div>
                                </div>
                                <!--Single hotsell-->
                            </div>
                            <!--total hotsell-->
                        </div>
                    </aside>
                    <!--aside 4 end-->
                </div>
                
            