<!doctype html>
<html class="no-js" lang="en">
<head>
	<!-- Basic page needs -->
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>login || oxelar</title>
	<meta name="description" content="">
	<!-- Mobile specific metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
	
	<!-- all css hare -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/TimeCircles.css">
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="css/venobox.css">
	<link rel="stylesheet" href="css/elegent-font.css">
	<link rel="stylesheet" href="css/meanmenu.css">
	<link rel="stylesheet" href="lib/css/nivo-slider.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/responsive.css">
	
	<!-- modernizr js -->
	<script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
	<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
	<!-- site content here -->
	<div class="page-inner">
		<!-- login-header-area start -->
		<div class="header-area ptb-40">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
						<div class="logo">
							<a href="/"><img src="" alt=""></a>
						</div>
					</div>
					<div class="col-sm-offset-6 col-sm-3 visible-sm">
						<div class="top-control">
							<ul>
								
								<li class="search"><i class="icon_search"></i>
									<div class="inner-form">
										<form action="#">
											<input type="text" placeholder="Search">
											<button type="submit"><i class="fa fa-search"></i></button>
										</form>
									</div>
								</li>
								<li class="cart"><i class="icon_bag_alt"></i>
									<span class="count">2</span>
									<ul class="cart-open">
										
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-12 hidden-xs">
						<div class="mainmenu">
							<nav>
								<ul>
									<li><a class="active" href="/">Trang Chủ<i class="fa fa-angle-down" aria-hidden="true"></i></a>
									</li>
									<li ><a class="active" href="/customers/list-products">Danh Mục<i class="fa fa-angle-down" aria-hidden="true"></i></a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 hidden-sm col-xs-12">
						<div class="top-control">
							<ul>
								<li class="search"><i class="icon_search"></i>
									<div class="inner-form">
										<form action="#">
											<input type="text" placeholder="Search">
											<button type="submit"><i class="fa fa-search"></i></button>
										</form>
									</div>
								</li>
								<li class="cart"><i class="icon_bag_alt"></i>
									<span class="count">2</span>
									<ul class="cart-open">
									
										
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- login-header-area end -->
		<!-- login-mobile-menu-area start -->
		<div class="mobile-menu-area visible-xs">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="mobile-menu">
							<nav id="mobile-menu-active">
							
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- login-mobile-menu-area end -->
		<!-- login-area start -->
		<div class="container-fluid">
			<div class="frequently-questions-area white-bg">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<ol class="breadcrumb">
								<li><a href="/">Trang Chủ</a></li>
								<li class="active">Đăng nhập</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<div class="log-in-area white-bg ptb-70 small-ptb-30">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<h1>Đăng nhập và Đăng ký</h1>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="form-single" >
								<form action="/customers/new-customer" method="POST">
									<h3>Tạo Tài Khoản</h3>
									<label for="email_create-2">Email </label>
									<input type="" id="email_create-2" name = 'email'>
									
									<label for="email_create-2">Tên đầy đủ của bạn</label>
									<input type="text" id="useName" name='customerName'>

									<label for="passward">Giới tính</label>
									<input type="text" id="passward" name='sex'>

									<label for="email_create-2">Số điện thoại</label>
									<input type="text" id="phoneNumber" name='phoneNumber'>
									<label for="passward">Mật khẩu</label>
									<input type="password" id="password" name='password'>

									<label for="passward">Xác nhận mật khẩu</label>
									<input type="password" id="" name=''>
									<span title="Forgot your password?" class="forgot"></span>
									<button type="submit"><span class="button-inner"><i class="fa fa-lock" aria-hidden="true"></i>Đăng ký</span></button>
								</form>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="form-single form-single-right">
								<form action="/customers/login", method="POST">
									<h3>Đăng Nhập</h3>
									<label for="email_create-2">Số điện thoại</label>
									<input type="" id="email_create-2" name = 'phoneNumber'> 
									<label for="passward">Mật khẩu</label>
									<input type="password" id="passward" name='password'>
								
									<button type="submit"><span class="button-inner"><i class="fa fa-lock" aria-hidden="true"></i>Đăng Nhập </span></button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- login-area end -->
		<!-- login-service-area start -->
	
		<!-- login-service-area end -->
		<!-- login-footer-top-area start -->
		
		<!-- login-footer-top-area end -->
		<!-- login-footer-banner-area start -->
		<%- include ('./partials/footer') %>

		<!-- login-footer-bottom-area end -->
	</div>

	<!-- all js here -->
	<script src="js/vendor/jquery-1.12.0.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="lib/js/jquery.nivo.slider.pack.js"></script>
	<script src="lib/js/nivo-active.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/TimeCircles.js"></script>
	<script src="js/venobox.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/jquery.meanmenu.js"></script>
	<script src="js/jquery.scrollUp.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
</body>

</html>