<%- include ('../partials/header')%>
<div class="creative-banner">
</div>
<div class="shoping-cart-area pt50 pb50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="area-title bdr">
                    <h2>Giỏ hàng của tôi </h2>
                </div>
                <div class="table-area">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr class="c-head">
                                    <th>Hình ảnh</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Tổng tiền</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody><tr>
                                <td class="c-img">
                                    <a href="#"><img src="../assets3/img/product/books1.jpg" alt=""></a>
                                </td>
                                <td class="c-name"><a href="#">Ipsum Generators </a><br>
                                    <span class="c-size">size : S</span>
                                    <span class="c-color">color : green</span>
                                </td>
                                <td class="c-price"> $300.00</td>
                                <td class="c-qty"><span>1</span></td>
                                <td class="c-price"> $300.00</td>
                                <td class="trash-btn">
                                    <a class="btn-remove" href="#"></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="c-img">
                                    <a href="#"><img src="../assets3/img/product/books2.jpg" alt=""></a>
                                </td>
                                <td class="c-name"><a href="#">Ipsum Generators </a><br>
                                    <span class="c-size">size : M</span>
                                    <span class="c-color">color : red</span>
                                </td>
                                <td class="c-price"> $300.00</td>
                                <td class="c-qty"> <span>1</span></td>
                                <td class="c-price"> $300.00</td>
                                <td class="trash-btn">
                                    <a class="btn-remove" href="#"></a>
                                </td>
                            </tr>
                            </tbody><tfoot>
                                <tr>
                                    <td colspan="6">
                                        <a class="button c_button c-shop" href="/" title="Continue Shopinng">
                                            <span>Tiếp tục mua hàng</span>
                                        </a>
                                        <a class="button c_button c-pc" href="#" title="Process To checkout">
                                            <span>Tiến hành thanh toán</span>
                                        </a>
                                        <a class="button c_button c-up" href="#" title="Update Shoping cart">
                                            <span>Làm mới giỏ hàng</span>
                                        </a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<%- include ('../partials/footer')%>